!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      You've received a vote for your movie!
      #{@current_user.email} #{@type}s your movie!!
